/.config/nvim/plugged/*
/.vim/addons/*
/.config/nvim/autoload
/.config/nvim/.netrwhist
/.config/nvim/pack/*
tags
/.local/share/**
/.rbenv
.config/ranger/plugins/__pycache__/**
.config/ranger/plugins/__pycache__/**.**.**.pyc
.config/ranger/plugins/__pycache__/__init__.cpython-38.opt-1.pyc
.config/ranger/plugins/__pycache__/devicons.cpython-38.opt-1.pyc
.config/ranger/plugins/__pycache__/devicons_linemode.cpython-38.opt-1.pyc
.config/ranger/plugins/*.pyo
.config/coc/**
.config/configstore/**
.config/karabiner/automatic_backups/**
bin/snowsql
bin/keymapp
