/.config/nvim/plugged/*
/.vim/addons/*
/.config/nvim/autoload
/.config/nvim/.netrwhist
/.config/nvim/pack/*
tags
/.local/share/**
/.rbenv
.config/ranger/plugins/__pycache__/**
.config/coc/**
.config/configstore/**
.config/karabiner/automatic_backups/**
