* {
    xbg:    #262626;
    xfg:    #BCBCBC;
    x0:     #1C1C1C;
    x1:     #AF5F5F;
    x2:     #5F875F;
    x3:     #87875F;
    x4:     #5F87AF;
    x5:     #5F5F87;
    x6:     #5F8787;
    x7:     #6C6C6C;
    x8:     #444444;
    x9:     #FF8700;
    x10:    #87AF87;
    x11:    #FFFFAF;
    x12:    #8FAFD7;
    x13:    #8787AF;
    x14:    #5FAFAF;
    x15:    #FFFFFF;
}
